$primary:#282c34;

.pagination {
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
        outline: none;
        border: none;
        background: $primary;
        color: #fff;
        padding: .7em 1.2em;
        cursor: pointer;
        font-family: inherit;
        margin: 0 5px;
        text-transform: uppercase;
        font-size: 1em;
        transition: 300ms;

        &:hover {
            background: $primary + 20%;
            box-shadow: 0 2px 7px -2px rgba($primary, .6);
        }
    }
}