.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 15px;
    margin-bottom: 20px;

    .image-holder {
        background: #f1f1f1;
        box-shadow: 0 2px 7px -2px rgba(#000, .1);
        position: relative;
        height: 160px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .content {
            position: absolute;
            background: rgba(#000, 0.56);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            backdrop-filter: blur(3px);
            opacity: 0;
            transition: 300ms;

            p {
                color: #fff;
                display: flex;
                align-items: center;
                margin: 7px 0;
                font-size: 18px;

                svg {
                    width: 25px;
                    margin-right: 7px;

                    path {
                        fill: #fff;
                    }
                }
            }

        }

        &:hover {
            box-shadow: 0 2px 10px -1px rgba(#000, .15);

            .content {
                opacity: 1;
            }
        }
    }
}