* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Poppins, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

code {
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}